* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 80%;
    height: 100px;
    background-color: #f2f2f2;
}